// Greys
$grey-9:#ccc;
$grey-8:#a7a7a7;
$grey-7:#999;
$grey-6:#7c7c7c;
$grey-5:#666;
$grey-4:#404040;
$grey-3:#333;
$grey-2:#252525;
$grey-1: #1f1f1f;
$grey-0: #000000;

$light-grey: #f7f7f7;
$grey: #eee;
$offwhite: #ddd;

$bg-color: #f7f8f9;
$grey-4: #555;
$dark-grey:$grey-3;
$light-grey: $grey-5;
$blue-grey:#95a1ad;

//Application colors
$blue:#0874D9;
$green: #30B34E;
$red: #E02200;
$orange: #FA710E;
$purple: #913FD6;


$primary: $blue;
$theme-colors: (
  "primary": $blue,
  "danger": $red,
  "success": $green,
);


$enable-gradients:false;

$onePxBorder: 1px solid #eee;
$sidebarNavWidth: 260px;


$borderRadius: .35em;

$boxShadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
$boxShadowHover: 0px 3px 5px rgba(0,0,0,0.14);

$boxShadowSm:0 1px 3px hsla(0, 0%, 0%, .2);
$boxShadowSmHover:0 1px 4px hsla(0, 0%, 0%, .22);


@import "../bootstrap/scss/bootstrap";


// Typography
$font-stack: 'Proxima Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

html {
    font-family: $font-stack;
}

body {
    background: $bg-color;
    font-family: $font-stack;
}
.weight-600 {
    font-weight: 600;
}
h1 {
    font-size:2em;
    font-weight:700;
}
.navbar {
    background: #fff;
    padding: .5rem 1rem;
}

.logo-vyf {
    max-width: 110px;
}
.vyf-svg-logo svg {
    max-width: 110px;
}
.vyf-svg-logo path.icon {
    fill:$primary;
}

.bl-1 {
    border-left:$onePxBorder;
}
.br-1 {
    border-right:$onePxBorder;
}
.bb-1 {
    border-bottom:$onePxBorder;
}
.bt-1 {
    border-top:$onePxBorder;
}


.main-navigation li a i {
    width: 24px;
}
  
.btn {
    font-weight: 500;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: $boxShadowSm;
            box-shadow: $boxShadowSm;
}
.btn:hover {
    -webkit-box-shadow: $boxShadowSmHover;
            box-shadow: $boxShadowSmHover;
            
}
.btn-link {
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    color: $light-grey;
}
.btn-link:hover {
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    text-decoration: none;
    color: $dark-grey;
}



/* Add arrow to dropdown container when dropdown menu expanded */
.dropdown-menu {
    background: #ffffff;
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 18px 30px 0px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 18px 30px 0px;
    border-radius: .25em;
    min-width: 16rem;
    display: block;
    visibility: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);

    &:after {
        border-bottom: 8px solid #ffffff;
        border-left: 9px solid rgba(0, 0, 0, 0);
        border-right: 9px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 75%;
        position: absolute;
        top: -7px;
    }
}


.dropdown-menu.show {
    &:before {
        content: "";
        border-bottom: 8px solid rgb(209, 209, 209);
        border-left: 9px solid rgba(0, 0, 0, 0);
        border-right: 9px solid rgba(0, 0, 0, 0);
        display: inline-block;
        left: 75%;
        position: absolute;
        top: -8px;
    }
}

a.dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem 1.5rem;
}

  
.dropdown-menu {
    float: left;
    left: auto;
    right: 0;
    position: absolute!important;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    overflow: hidden;
    -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
        transform: translateY(0);
}
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    height: unset;
    overflow: unset;
    -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
        transform: translateY(10px);
}
