body {
	margin: 0px;
	font-family: proxima nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

.application-bar {
	background: #fff;
	padding: 1em;
	color: #333;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
	z-index: 100;
	position: fixed;
	left: 0;
	display: block;
	width: 100%;
	height: 62px;
}

.header {
	background: #f6f6f6;
	padding: 1em;
	-webkit-box-shadow: 3px 3px 10px #00000008;
	box-shadow: 3px 3px 10px #00000008;
	z-index: 20;
	position: fixed;
	left: 0;
	top: 62px;
	display: block;
	width: 100%;
	height: 74px;
}

.dropdown.policy-group .outer {
	font-weight: bold;
	font-size: 28px;
	color: #333;
	text-decoration: none;
}

.policy-group .dropdown-item {
	font-size: 20px;
	line-height: 1.75;
}

.dropdown.policy-group .outer::after {
	font-size: 19px;
	color: grey;
}

.policy-group .dropdown-menu.show {
	display: block;
	margin-top: -30px;
	-webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
	box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
	border: none;
}

.policy-group .dropdown-item.active,
.policy-group .dropdown-item:active {
	color: #006edf!important;
	font-weight: 600;
	background: #edf5fa!important;
}

.program-filer {
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    background: white;
	max-width: 410px;
	display: none;
	position: absolute;
	padding:1em;
	margin-top: -30px;
	margin-left: 120px;
	z-index:10000;
}
.program-filer.visible {
	display: block;
}

.wrapper {
	display: grid;
	grid-template-columns: 65px /* Committee */ 530px /* Power */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */
		64px /* Q1 */ 64px /* Q2 */ 64px /* Q3 */ 64px /* Q4 */ ;
	grid-gap: 0px;
	background-color: #fff;
	color: #444;
	text-align: center;
	padding-bottom: 20px;
}

.box {
	border: solid 1px #a7a7a7;
	padding: 0.5rem 1rem;
	margin:0 -1px -1px 0;
	background-color: #FFFFFF;
}

.SPRheader {
	text-align: center;
	font-weight: bold;
	border-top: solid 0px #a7a7a7;
}

.FYheader {
	border-left: solid 3px #a7a7a7;
	border-top: solid 3px #a7a7a7;
	font-weight: bold;
    grid-column: span 4;
}

.FYQheader {
	font-weight: bold;
}

.powerCategory {
	font-weight: bold;
	color: #FFFFFF; 
    grid-column: span 34; 
    display: flex; 
    align-items: center; 
    height: 42px;
    position: relative;
}

.powerCategoryLabel {
    position: sticky;
    left: 18px;
}

.powerSet {
	background-color: #0071DC;
}

.powerSetCell {
	background-color: rgba(0, 113, 220, 0.15);
}

.powerApprove {
	background-color: #FA710E;
	margin-top: 10px;
}

.powerApproveCell {
	background-color: rgba(250, 113, 14, 0.15);
}

.powerConduct {
	background-color: #913FD6;
	margin-top: 10px;
}

.powerConductCell {
	background-color: rgba(145, 63, 214, 0.15);
}

.powerOversee {
	background-color: #30B34E;
	margin-top: 10px;	
}

.powerOverseeCell {
	background-color: rgba(48, 179, 78, 0.15);
}

.committeeEntry {
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-items: center;
    position: sticky; 
    left: 0;
}

.SPRentry {
	text-align: left;
    position: sticky;
    left: 66px!important;
}

.boxQ1 {
	border-left: solid 3px #a7a7a7;
}
