
/* --------------------------------

CalPERS

Global Styles

-------------------------------- */

/*PRIMARY COLOR USED EVERYWHERE::: #43467F */

html {
    overflow-y: scroll;
}


body {
    background: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    margin-bottom: 0;
}
.padding-0 {
    padding: 0;
}

.container-fluid.header {
    padding: 0em 0 0em 0;
    background-color: #f9f9f9;
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    z-index: 1;
    position: relative;
}
.container-fluid.header .page-title {
    padding-top: 2em;
}
.container-fluid.header + .container-fluid {
    position: relative;
    z-index: 0;
}

.container-fluid.header h2 {
    font-weight: bold;
    font-size: 2em;
}


.plans {
    position: sticky;
    top: 0;
    background: white;
    padding: 1em 0;
    z-index: 1000;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .03);
}

.col.plan-price {
    text-align: center;
    color: #333;
}

img.plan-logo {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.section {
    margin-top: 1em;
}

h2.section-title {
    font-size: 1em;
    color: #333;
    border-bottom: 1px solid #e8e8e8;
}

span.label {
    font-weight: bold;
    font-size: 11px;
}

.main-container.splash-screen {
    padding: 2em;
}

img.selection-svg {
    width: 100%;
    padding: 2em;
    will-change: transform, opacity;
    animation: imagePopIn 0.65s ease;
    animation-fill-mode: both;
    animation-delay: .25s;
    -webkit-animation: imagePopIn 0.65s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .25s;
}

.btn-success {
    color: #fff;
    background-color: #4b7c10;
    border-color: #4b7c10;
}

.btn-success:hover {
    color: #fff;
    background-color: #416d0c;
    border-color: #416d0c;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: #4b7c10;
    border-color: #4b7c10;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #4b7c1075;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.2rem #4b7c1075;
}

.splash-screen .col-12.col-lg-6:first-child {
    padding-right: 4em;
}

.splash-screen .col-12.col-lg-6 {
    padding-top: 10%;
}

.begin-cta {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .01), 0 3px 24px rgba(48, 51, 51, .09);
    background: #fff;
    padding: 1em;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

/* DESKTOP SPLASH START */
.willRemovePadding {
    transition: .3s ease all;
}

.no-padding-top {
    padding-top: 0 !important;
}

h1.animateTextIn {
    animation: textSlideIn 0.46s ease-out;
    animation-fill-mode: both;
    will-change: opacity, transform;
    -webkit-animation: textSlideIn 0.46s ease;
    -webkit-animation-fill-mode: both;
}

h2.animateTextIn {
    animation: textSlideIn 0.6s ease;
    animation-fill-mode: both;
    animation-delay: .15s;
    -webkit-animation: textSlideIn 0.6s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .15s;
    will-change: opacity, transform;
}

body.splash p {
    animation-delay: .45s;
    animation: textSlideIn 0.6s ease;
    animation-fill-mode: both;
    -webkit-animation: textSlideIn 0.6s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .45s;
    will-change: opacity, transform;
}

body.splash h2 {
    font-weight: bold;
    font-size: 3em;
}

p.copy {
    font-size: .95em;
    color: #333;
    line-height: 1.35;
}

body.splash {
    background: linear-gradient(90deg, white 50%, #f9f9f9 50%);
    min-height: 100vh;

}

.main-container.splash-screen {
    min-height: 100vh;
}

.continue-btn {
    margin-top: 1em;
}

.continue-btn {
    will-change: opacity, transform;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: textSlideIn 0.46s forwards ease;
    animation-fill-mode: both;
    animation-delay: .65s;
}

.continue-btn svg.feather.feather-lock {
    margin-right: .15em;
    width: 20px;
    height: 20px;
}

.footer {
    text-align: center;
    padding: .75em;
    font-size: .9em;
}

a {
    color: #425a82;
}

@keyframes textSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes textSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes imagePopIn {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: 0;
    }
    30% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.96);
        transform: scale(.96);
        opacity: .75;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes imagePopIn {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: 0;
    }
    30% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.96);
        transform: scale(.96);
        opacity: .75;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.bg-mycalpers-blue {
    background-color: #335e88 !important;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-light .navbar-brand {
    color: #335f89;
}
.myCalPERS-logo {
    color: #335f89;
    font-size:2em;
}

.slideUpOut {
    animation: slideUpOut .15s ease;
    animation-fill-mode: both;
}

.willSlideIn {
    animation: slideUpIn .45s ease;
    animation-fill-mode: both;
}

.prelogin h3 {
    font-size: 1.25em;
}

@media (max-width: 992px) {
    body.splash {
        background: #f9f9f9;
    }

    .splash-screen .col-12.col-lg-6:first-child {
        padding: 1em;
    }
}
@media (min-width: 767px) {
    .login .myCalPERS-logo {
        font-size: 1.5em;
        padding: 0 1.25em;
        margin-bottom: -1em;
        padding-top: 1em;
    }

}

@media (max-width: 767px) {
    body.login {
        background: #fff;
    }
    .login-area .card {
        box-shadow: none;
    }

    ._logo-area {
        background: #335d87;
        text-align: center;
        padding: 2em 1em;
        color: white;
    }
    .login-area .card-header {
        text-align: center;
    }
    .login-title {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 1.8em;
    }
    .login .footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        background: #f9f9f9;
        width: 100%;
        border-top: 1px solid #e6e6e6;
    }

    ._logo-area h1 {
        color: white;
        font-size: 2em!important;
        font-weight:500;
    }

    body.splash {
        padding-bottom: 80px;
    }

    .row.compare-container.table-header .single-row-label {
        display: none;
    }
    .row.compare-container.table-header .plan-name {
        text-align: center;
    }

    .row.compare-container.table-header.fixed .plan-name {
        text-align: center;
    }

    .row.compare-container.table-header.fixed .plan-name .plan-logo {
        display: none;
    }
}
.row.compare-container.table-header.fixed .plan-name .plan-logo {
    transition: .2s ease all;
}

@media (max-width: 576px) {
    body.splash h2, body.splash h1 {
        text-align: center;
    }

    .myCalPERS-logo {
        font-size: 1.5em;
    }

    body.splash h2 {
        font-size: 2em;
    }

    .prelogin h3 {
        font-size: .9em;
    }
}

@keyframes slideUpOut {
    0% {
        transform: 0;
        position: static;
        opacity: 1;
    }
    100% {
        transform: translateY(-10%);
        position: absolute;
        opacity: 0;
        height: 0;
    }

}

@-webkit-keyframes slideUpOut {
    0% {
        transform: 0;
        position: static;
        opacity: 1;
    }
    100% {
        transform: translateY(-10%);
        position: absolute;
        opacity: 0;
        height: 0;
    }

}

@keyframes slideUpIn {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@-webkit-keyframes slideUpIn {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

.will-change {
    will-change: transform, opacity, position;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 58px;
    cursor: pointer;
    line-height: 1.35;
    display: inline-block;
    color: #333;

}

[type="checkbox"] + label {
    padding: 2em;
    color: #222;
    background: #fff;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: "";
    color: #b1b1b1;
    line-height: 32px;
    position: absolute;
    left: 15px;
    width: 28px;
    height: 28px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
    top: 40%;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: "\2713 ";
    font-size: 21px;
    color: #fff;
    line-height: 19px;
    width: 25px;
    height: 25px;
    background: #4a7c10;
    padding-left: 0;
    left: 16px;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    align-items: center;
    display: flex;
    padding-top: .15em;
    justify-content: center;
    top:41%;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation: check-bounce .3s;
    animation: check-bounce .3s;
}


[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 58px;
    cursor: pointer;
    line-height: 1.35;
    display: inline-block;
    color: #333;

}

[type="radio"] + label {
    padding: 2em;
    color: #222;
    background: #fff;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    color: #b1b1b1;
    line-height: 32px;
    position: absolute;
    left: 15px;
    width: 28px;
    height: 28px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
    top: 40%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "\2713 ";
    font-size: 18px;
    padding-left: .4em;
    color: #fff;
    line-height: 28px;
    width: 28px;
    height: 28px;
    background: #4a7c10;
    left: 15px;
    position: absolute;
    /* text-align: center; */
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    top: 40%;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation: check-bounce .3s;
    animation: check-bounce .3s;
}

span.score-num {
    position: absolute;
    top: 26px;
    left: 48%;
    z-index: 2000;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label {
    background: #b5b5b512;
}

[type="checkbox"] + label {
    padding: 1em 3em;
    border: 1px solid #e4e4e4;
    border-radius: 0.25em;
}

/*-----------------------
Radio button animation
------------------------*/
@keyframes check-bounce {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    60% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}
.annotate{
     font-style: italic;
     color: #366ED4;
 }

/*[role="table"] {*/
    /*display: table;*/
/*}*/

/*[role="table"] > div[id] {*/
    /*display: table-caption;*/
/*}*/

/*[role="table"] [role="row"] {*/
    /*display: table-row;*/
/*}*/

/*[role="table"] [role="cell"],*/
/*[role="table"] [role="columnheader"] {*/
    /*display: table-cell;*/
/*}*/

.h1, h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}
.section-title {
    width: 100%;
    background: #e4e4e4;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
}

.critea-filter-options-details {
    /*border-top: 1px solid #e6e6e6;*/
    padding: 1em 0;
    background: white;
    margin-top:1em;
}


.plan-name {
    font-weight: bold;
    padding: 1.5em 0 1.25em 0;
    transition: .1s ease all;
}
.plan-name .h4, h4 {
    color: #335e88;
    font-size: 1em;
    font-weight: bold;
    transition: .1s ease all;
}

.section-title {
    width: 100%;
    background: #335e8812;
    font-size: 1.2em;
    z-index: 2;
    color: #335e88;
    text-align: center;
    font-weight: bold;
    padding: 1.15em 0.5em;
    /*box-shadow: 0 5px 15px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);*/
}
.col-2.single-row-label {
    position: sticky;
    z-index: 1;
    padding: 1em;
    background: #f9f9f9;
    font-weight: bold;
    left: 0;
    display: flex;
    align-items: center;
}
span.section .col {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5em;
    z-index: 0;
}
.plan-col:nth-child(even) {
    background: white;
}
.row.compare-container.table-header .plan-name:nth-child(odd) {
    background: #f9f9f9;
}
.plan-col._4.data-point {
    display: none;
}
.table-header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 23;
}
.critea-filter-options-details .row {
    display: flex;
    align-items: center;
}
.btn-link {
color:#333;
}
.btn-link:hover {
    color:#000;
}
.back-save-compare {
    display: flex;
}
.back-save-compare span {
    margin-left: auto;
}
span.monthly-desc {
    font-weight: 400;
    font-size: .75em;
    display: flex;
    margin-top: -.15em;
}
.current {
    display: block!important;
}
.hidden {
     display: none!important;
 }
.row.compare-container.table-header {
transition: .1s ease all;
}
.row.compare-container.table-header.fixed {
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}
.row.compare-container.table-header.fixed .plan-name {
    padding: 0.75em 0 0.25em 0;
}
.row.compare-container.table-header.fixed .plan-name h4 {
    margin-bottom: 0;
}
/*.col.plan-name:hover {*/
    /*background: #ffffff!important;*/
    /*box-shadow: 1px 1px 17px 7px #5656560d;*/
    /*z-index: 900000;*/
    /*cursor: pointer;*/
/*}*/
a.paginate-plans {
    z-index: 1;
    position: relative;
    background-color: #3c6894;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
}
a.paginate-plans:hover {
    background: #234261;
    transition: .2s ease all;
}


a.paginate-plans span {
    display: flex;
    align-items: center;
    color: #f9f9f9;
}



a.paginate-plans span svg {
    stroke-width: 4px;
    width: 22px;
    height: 22px;
}
.plans-navigation.col-12 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #335d87;
    color: #fff;
    padding: .5em;
}

span.visiblePlansCount {
    width: 420px;
    text-align: center;
}

.col.plan-col ul {
    text-align: left;
}

/*a.paginate-plans {*/
/*position: absolute;*/
/*z-index: 2;*/
/*top: 0;*/
/*right: 15px;*/
/*-webkit-transform: translateY(55px);*/
/*-moz-transform: translateY(55px);*/
/*-ms-transform: translateY(55px);*/
/*-o-transform: translateY(55px);*/
/*transform: translateY(55px);*/
/*overflow: hidden;*/
/*text-indent: 100%;*/
/*white-space: nowrap;*/
/*color: transparent;*/
/*height: 60px;*/
/*width: 40px;*/
/*background: rgba(64, 64, 66, 0.8) url(https://codyhouse.co/demo/products-comparison-table/img/cd-arrow.svg) no-repeat center center;*/
/*border-radius: 3px;*/
/*-webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;*/
/*-moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;*/
/*transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;*/
/*}*/
/*a#previous {*/
    /*left: 120px;*/
    /*right: auto;*/
    /*-webkit-transform: translateY(55px) translateX(15px) rotate(180deg);*/
    /*-moz-transform: translateY(55px) translateX(15px) rotate(180deg);*/
    /*-ms-transform: translateY(55px) translateX(15px) rotate(180deg);*/
    /*-o-transform: translateY(55px) translateX(15px) rotate(180deg);*/
    /*transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*}*/




/* --------------------------------
Login Page
-------------------------------- */

.login .top-area {
    background: #fff;
    padding: 1.5em 0em 3em 0em;

}

.login .top-area .container {
    text-align: center;

}

.login .login-title {
    font-weight: 600;
    margin-bottom: 0;
}

.login .myCalPERS-logo {
    font-size: 1.5em;
}
.login .card {
    margin-top:3em;
}
.dashboard .card {
    margin-top:2em;
}
.D_9ISds_xa .card-body h2 {
    color: green!important;
}
.card-body.C_M1Sdh98.health-summary h3 {
    margin-bottom: .5em;
}
.card {

     border:0;
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);

}
 .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #e6e6e6;
    padding: 1.5em 2em;

}
.login-area .card-body {
    padding: 1.5em 2em;
}

.form-container .row {
    justify-content: center;
}

.login-area .card .form-control {
    background-color: #f9f9f9;
    border: 1px solid #e6e5e5;
}

.btn-primary {
    color: #fff;
    background-color: #335e88;
    border-color:#335e88;
}
.btn-primary:hover {
    color: #fff;
    background-color: #284c6f;
    border-color: #284c6f;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #284c6f;
    border-color: #284c6f;
}



.float-labels .form-control {
    border-width: 1px;
    height: 3.25rem;
    margin-bottom: 1em;
}

label.float-label {
    height: 3.25em;
    left: 44px;
    line-height: 3.25em;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform ease-out .1s;
    transition: transform ease-out .1s;
    transition: transform ease-out .1s, -webkit-transform ease-out .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #595959;
    font-weight: 400;
    font-size: 1em;
}

label.float-label.float-true {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    font-size: .815em;
    color: #737373;
}


.float-labels .form-control {
    height: 3.25em;
}

input.form-control.float-true {
    padding-top: 1.5rem;
}
.login-area .card-more-info {
    padding: 2em;
    background: #f9f9f9;
    border-radius: 0 0 .25em .25em;
    border-top: 1px solid #efefef;
}

.security-check {
    padding: 1em 2em;
   background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

img {
    width: 100%;
}

.secure-your-account-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25em;
    border: 2px solid #007f00;
    border-radius: 50%;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}


.secure-your-account-icon svg {
    stroke: #4c7e11;
    stroke-width: 3px;
}

.security-check .heading {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.25em;
}
.security-check .heading h2 {
    font-size: 1.25em;
    margin-bottom: 0;
    font-weight: 500;
    color: #4c7e11;
    padding-top: 0.25em;
}
.security-check h3 {
    font-size: 1em;

}
.security-message {
    font-size: 1.35em;
    font-weight: bold;
    color: #3a3a3a;
}
.row.security-img-message a {
    font-size: .8em;
    display: block;
}
.security-img-message {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .container.form-container .login-area {
         padding: 0;
    }
    .login-area .card {
        margin-top: 0;
    }
    body {
        font-size:.9em;
    }
    label.float-label {
        line-height: 3.76em;
    }
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ffffff!important;
}


.facebook-spnner {
    background-image: url(/rsrc.php/v3/y6/r/ggvOO_y9azD.png);
    background-repeat: no-repeat;
    background-size: 500px 235px;
    background-position: -171px -221px;
    animation: rotateSpinner 1.2s linear infinite;
    display: inline-block;
    height: 12px;
    margin: 2px 12px 0;
    width: 12px;
}

.dashboard .card-header {
    background-color: #f9f9f9;
    text-align: center;
}

.dash-compare-plans-svg {
    width: 300px;
    padding: 1em;
}
.dashboard .h2,.dashboard h2 {
    color: #4c7e11;
    font-weight: 600;
    font-size: 1.65em;
}
.dashboard .h3, .dashboard h3 {
    font-size: 1rem;
    margin-bottom:0;
    font-weight: bold;
}
.card-body.C_M1Sdh98.confirm-your-info .row .col-12 {
    padding-bottom: .5em;
    border-bottom: 1px solid #ececec;
    padding-top: .5em;
}

.card-body.C_M1Sdh98.confirm-your-info .user {
    width: 120px;
    float: right;
    display: none!important;
}

.card-body.C_M1Sdh98 .form-check {
    padding-left:0;
}

.card-body.C_M1Sdh98 h2 {
    color: #335f89;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}
thead tr {
    background: #f9f9f9;
}
.C_M1Sdh98 {
    padding: 1.5em 2em;
}
.health-summary .row {
    padding-bottom: 1.25em;
}
.secondary-nav {
    background: white;
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    border-top: 1px solid #e2e2e2;
    position: relative;
    z-index: 1;
}

.secondary-nav a.nav-link {
    color: #777;
}

.secondary-nav a.nav-link.active span.tab-item {
    border-bottom: .2em solid #335f89;
    padding: 0.59em 0;
    color: #333;
}
.secondary-nav a.nav-link:first-child {
    padding-left: 0;
}
.text-align-left {
    text-align: left;
}

.header-p-padding {
    padding: .25em 0 .35em 0;
}


.circle-step {
    position: relative;
    height: 13px;
}
.step {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.step-title {
    padding-left: .75em;
    color: #737373;
    padding-top: .1em;
}

.step:last-child .line {
    display: none;
}
.line {
    height: 26px;
    left: 50%;
    top: 16px;
    position: absolute;
    z-index: -1;
    width: 1px;
    background-color: #C6C6C6;
}
.step.completed .circle {
    border: 1px solid #335f89;
    background: #335f89;
}
.step.completed .step-title {
    color: #335f89;
}
.step.active .circle {
    border: 1px solid #335f89;
    background: #fff;
}
.step.active .step-title {
    color: #335f89;
    font-weight: 600;
}
.circle {
    height: 16px;
    width: 16px;
    border: 1px solid #737373;
    border-radius: 12px;
}
.process-steps {
    margin-top:2em;
}
.card-action {
    border-radius: 0 0 .25em .25em;
    padding: 1em 2em;
    padding-top:0;
}
.card-action .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.compare-proccess .card-header {
    background: white;
}
.card-body.C_M1Sdh98.confirm-your-info label {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}
select#coverageType {
    height: 37px;
    width: 100%;
    background: white;
    border: 1px solid #ced4da;
}
.search-criteria {
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #e6e6e6;
}


/* --------------------------------
Search Results Page
-------------------------------- */
ul.plans-list {
    padding: 0;
    list-style-type: none;
}
label.plan-label {
    width: 100%;
}
[type="radio"]:checked + label.plan-label,
[type="radio"]:not(:checked) + label.plan-label {
    padding-left: 15px;

}

[type="radio"] + label.plan-label {
    padding:1em;
}

.card-body.C_M1Sdh98.search-results .plan-logo {
    display: flex;
    align-items: center;
    width: 70px;
}
.card-body.C_M1Sdh98.search-results .plan-details .plan-name {
    font-weight: bold;
    padding: 0.5em 0 0.25em 0;
    font-size: 1.05em;
    margin-bottom:0;
}
.C_M1Sdh98.search-results ul.plan-details {
    padding: 0;
    list-style-type: none;
    font-size:.85em;
}
hr {
    margin-top: .75rem;
    margin-bottom: .75rem;
}


@media (max-width:767px) {
    [role="rowheader"],.col-2.single-row-label {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    [type="checkbox"] + label {
        padding: 1em 1em;
    }
    .card-body.C_M1Sdh98.search-results .plan-details {
        font-size: .85em;
    }
    .card-body.C_M1Sdh98.search-results .plan-details [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label,  [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 38px;
    }


    .dashboard .card {
        margin-top: 0!important;
    }
    .card-body.C_M1Sdh98.search-results .plan-details [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {

        left: 10px;
        width: 18px;
        height: 18px;
        top: 45%;
    }
    .card-body.C_M1Sdh98.search-results .plan-details [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
        font-size: 14px;
        width: 18px;
        height: 18px;
        left: 10px;
        padding-top: .28em;
        top: 45%;
    }
    .card-body.C_M1Sdh98.search-results .plan-logo {
        width: 50px;
    }
    .confirm-your-info [type="radio"] + label {
        padding: 2.25em 0 1em 0!important;
        color: #222;
        font-weight: 500!important;
        background: #fff;
    }
    .h1, h1 {
        font-size: 1.5rem;
    }
    .D_9ISds_xa .card-body h2 {
        font-size: 1.25em;
    }
}

a.btn.btn-primary.btn-lg.btn-block.compare-button.disabled {
    background: #eaeaea;
    color: black;
    border: 1px solid gainsboro;
}
a.btn.btn-primary.btn-block.btn-lg.compare-button svg {
    width: 19px;
    height: 19px;
    margin-right: 0.25em;
}
a.btn.btn-primary.btn-lg.btn-block.compare-button {
    display: flex;
}
.card-action.compare-plans-actions a {
    text-align: center;
    display: block;
    padding-top: .25em;

}
.card-action.compare-plans-actions {
    display: none;
    position: sticky;
    bottom: 0px;
    background: #f9f9f9;
    border-top: 1px solid #eaeaea;
    z-index: 1;
    padding: 1em 1em 0.5em 1em;
}
.card-action.compare-plans-actions.visible {
    display: block!important;
    position: sticky;
    animation: slideUp .25s ease;
}
@keyframes slideUp {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
.comp_9J20dm {
    background: #f9f9f9;
    padding: 1em 2em;
}

.confirm-your-info [type="radio"] + label {
    position: relative;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
}
.confirm-your-info  [type="radio"] + label {
    padding: 2.25em 1em 1em 1em;
    color: #222;
    background: #fff;
}
.confirm-your-info [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: "";
    color: #b1b1b1;
    line-height: 32px;
    position: absolute;
    left: 40%;
    width: 28px;
    height: 28px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
    top: 0;
}
.confirm-your-info [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    top: 0;
    left: 40%;
}
.confirm-your-info [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {

    padding-left: 0;
    padding-top: .1em;
}
.col-12.simple-radios .row {
    padding-top: 2em;
    padding-bottom:1em;
}

.slidein-notify {
    position: absolute;
    left:50%;

}
.slidein-notify .quick-notify-alert {
    margin: 0;
    position: relative;
    left:-50%;
    background: #4CAF50;
    z-index: 1;
    border: 2px solid #4CAF50;
    color: #ffffff;
    padding: .15em .75em;
    text-align: center;
    display: inline-block;
    animation: slideInNotify 2s ease-in-out 0s 1;
    animation-fill-mode: both;
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}




.contact-us-section {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #fbfbfb;
    height: 100%;
    width: 100%;
    display: none;
    animation: slideOverlayDown .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    animation-fill-mode: forwards;

}

.contact-us-section.open {
    display: block;
    animation: slideOverlayUp .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    animation-fill-mode: both;

}

.contact-us-section .header {
    background: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}

.contact-us-section .header .btn {
    position: absolute;
    right: 20px;
}

.contact-us-section .header .title {
    font-size: 1.35em;
    font-weight: 600;
    text-align: center;
}
p.privacy-acknowledgement {
    max-width: 100%;
    text-align: center;
    padding: 1em 2em;
    font-size: .8em;
    color: #585858;
}

@keyframes slideOverlayUp {
    0% {
        transform: translate(0, 100vh);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slideOverlayDown {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(0, 100vh);

    }
}

.bottom-nav {
    background-color: #fff;
    border: 0;
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    border-top: 1px solid #e6e6e6;
}


.bottom-nav .nav-container {
    height: 100%;
}
.bottom-nav .nav-container .items-row {
    height: 100%;
}
.bottom-nav  .col.nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
}
nav.bottom-nav .icon {
    font-size: 20px;
    text-align: center;
    height:26px;
}
.bottom-nav a {
    text-align: center;
    color: #717171;
    font-size: 10px;
    text-decoration: none;

}
.bottom-nav  .nav-item.active a {
    color: #335d87;
    font-weight: 600;
}