/* --------------------------------

CalPERS

Global Styles

-------------------------------- */

/*PRIMARY COLOR USED EVERYWHERE::: #43467F */

html {
    overflow-y: scroll;
}

body {
    background: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    margin-bottom: 0;
}

.padding-0 {
    padding: 0;
}

.container-fluid.header {
    padding: 0em 0 0em 0;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    z-index: 1;
    position: relative;
}

.container-fluid.header .page-title {
    padding-top: 2em;
}

.container-fluid.header + .container-fluid {
    position: relative;
    z-index: 0;
}

.container-fluid.header h2 {
    font-weight: bold;
    font-size: 2em;
}

.plans {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    padding: 1em 0;
    z-index: 1000;
    -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .03);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .03);
}

.col.plan-price {
    text-align: center;
    color: #333;
}

img.plan-logo {
    width: 50px;
    display: block;
    margin: 0 auto;
}

h2.section-title {
    font-size: 1em;
    color: #333;
    border-bottom: 1px solid #e8e8e8;
}

span.label {
    font-weight: bold;
    font-size: 11px;
}

.main-container.splash-screen {
    padding: 2em;
}

img.selection-svg {
    width: 100%;
    padding: 2em;
    will-change: transform, opacity;
    animation: imagePopIn 0.65s ease;
    animation-fill-mode: both;
    animation-delay: .25s;
    -webkit-animation: imagePopIn 0.65s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .25s;
}

.btn-success {
    color: #fff;
    background-color: #4b7c10;
    border-color: #4b7c10;
}

.btn-success:hover {
    color: #fff;
    background-color: #416d0c;
    border-color: #416d0c;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: #4b7c10;
    border-color: #4b7c10;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #4b7c1075;
    box-shadow: 0 0 0 0.2rem #4b7c1075;
}

.btn-success.focus, .btn-success:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #4b7c1075;
    box-shadow: 0 0 0 0.2rem #4b7c1075;
}

.splash-screen .col-12.col-lg-6:first-child {
    padding-right: 4em;
}

.splash-screen .col-12.col-lg-6 {
    padding-top: 10%;
}

.begin-cta {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, .01), 0 3px 24px rgba(48, 51, 51, .09);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .01), 0 3px 24px rgba(48, 51, 51, .09);
    background: #fff;
    padding: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ffffff !important;
    box-shadow: 0 8px 20px 3px rgba(125, 125, 125, 0.05), 0 5px 9px 0px rgba(197, 197, 197, 0.08);
    position: relative;
    z-index: 1;
    padding:.25em 1rem;
}

/* DESKTOP SPLASH START */
.willRemovePadding {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.no-padding-top {
    padding-top: 0 !important;
}

h1.animateTextIn {
    -webkit-animation: textSlideIn 0.46s ease-out;
    animation: textSlideIn 0.46s ease-out;
    animation-fill-mode: both;
    will-change: opacity, transform;
    -webkit-animation: textSlideIn 0.46s ease;
    -webkit-animation-fill-mode: both;
}

h2.animateTextIn {
    animation: textSlideIn 0.6s ease;
    animation-fill-mode: both;
    animation-delay: .15s;
    -webkit-animation: textSlideIn 0.6s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .15s;
    will-change: opacity, transform;
}

body.splash p {
    animation-delay: .45s;
    animation: textSlideIn 0.6s ease;
    animation-fill-mode: both;
    -webkit-animation: textSlideIn 0.6s ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .45s;
    will-change: opacity, transform;
}

body.splash h2 {
    font-weight: bold;
    font-size: 3em;
}

p.copy {
    font-size: .95em;
    color: #333;
    line-height: 1.35;
}

body.splash {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #f9f9f9));
    background: linear-gradient(90deg, white 50%, #f9f9f9 50%);
    min-height: 100vh;

}

.main-container.splash-screen {
    min-height: 100vh;
}

.continue-btn {
    margin-top: 1em;
}

.continue-btn {
    will-change: opacity, transform;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: textSlideIn 0.46s forwards ease;
    animation: textSlideIn 0.46s forwards ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}

.continue-btn svg.feather.feather-lock {
    margin-right: .15em;
    width: 20px;
    height: 20px;
}

.footer {
    text-align: center;
    padding: .75em;
    font-size: .9em;
}

a {
    color: #425a82;
}




@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes textSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes textSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes imagePopIn {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: 0;
    }
    30% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.96);
        transform: scale(.96);
        opacity: .75;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes imagePopIn {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: 0;
    }
    30% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.96);
        transform: scale(.96);
        opacity: .75;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.bg-mycalpers-blue {
    background-color: #335e88 !important;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-light .navbar-brand {
    color: #335f89;
}

.myCalPERS-logo {
    color: #335f89;
    font-size: 2em;
}

.slideUpOut {
    -webkit-animation: slideUpOut .15s ease;
    animation: slideUpOut .15s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.willSlideIn {
    -webkit-animation: slideUpIn .45s ease;
    animation: slideUpIn .45s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.prelogin h3 {
    font-size: 1.25em;
}

@media (max-width: 992px) {
    body.splash {
        background: #f9f9f9;
    }

    .splash-screen .col-12.col-lg-6:first-child {
        padding: 1em;
    }
}

@media (min-width: 767px) {
    .login .myCalPERS-logo {
        font-size: 1.5em;
        padding: 0 1.25em;
        margin-bottom: -1em;
        padding-top: 1em;
    }


}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
    body.login {
        background: #fff;
    }

    .login-area .card {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    ._logo-area {
        background: #335d87;
        text-align: center;
        padding: 2em 1em;
        color: white;
    }

    .login-area .card-header {
        text-align: center;
    }

    .login-title {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 1.8em;
    }

    .login .footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        background: #f9f9f9;
        width: 100%;
        border-top: 1px solid #e6e6e6;
    }

    ._logo-area h1 {
        color: white;
        font-size: 2em !important;
        font-weight: 500;
    }

    body.splash {
        padding-bottom: 80px;
    }

    .row.compare-container.table-header .single-row-label {
        display: none;
    }

    .row.compare-container.table-header .plan-name {
        text-align: center;
    }

    .row.compare-container.table-header.fixed .plan-name {
        text-align: center;
    }

    .row.compare-container.table-header.fixed span.monthly-desc {
        display: none;
    }

    .row.compare-container.table-header.fixed .plan-name .plan-logo {
        display: none;
    }
}

.row.compare-container.table-header.fixed .plan-name .plan-logo {
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}

@media (max-width: 576px) {
    body.splash h2, body.splash h1 {
        text-align: center;
    }

    .myCalPERS-logo {
        font-size: 1.5em;
    }

    body.splash h2 {
        font-size: 2em;
    }

    .prelogin h3 {
        font-size: .9em;
    }
}

@keyframes slideUpOut {
    0% {
        -webkit-transform: 0;
        transform: 0;
        position: static;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        position: absolute;
        opacity: 0;
        height: 0;
    }

}

@-webkit-keyframes slideUpOut {
    0% {
        -webkit-transform: 0;
        transform: 0;
        position: static;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        position: absolute;
        opacity: 0;
        height: 0;
    }

}

@keyframes slideUpIn {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

}

@-webkit-keyframes slideUpIn {
    0% {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

}

.will-change {
    will-change: transform, opacity, position;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 58px;
    cursor: pointer;
    line-height: 1.35;
    display: inline-block;
    color: #333;

}

[type="checkbox"] + label {
    padding: 2em;
    color: #222;
    background: #fff;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: "";
    color: #b1b1b1;
    line-height: 32px;
    position: absolute;
    right: 30px;
    width: 24px;
    height: 24px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
    top: 33%;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: "\2713 ";
    font-size: 21px;
    color: #fff;
    line-height: 24px;
    width: 25px;
    height: 25px;
    background: #4a7c10;
    padding-left: 0;
    right: 30px;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: .15em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 41%;
    text-align: center;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation: check-bounce .3s;
    animation: check-bounce .3s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.plan-types [type="radio"]:checked,
.plan-types [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.plan-types [type="radio"]:checked + label {
    border:2px solid #497c10!important;
}
.plan-types [type="radio"]:not(:checked) + label {
    border: 2px solid transparent!important;
}


.plan-types [type="radio"]:checked + label,
.plan-types [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 58px;
    cursor: pointer;
    line-height: 1.35;
    display: inline-block;
    color: #333;
    width: 100%;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    border-radius:.5em;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

}

.plan-types .plan-types [type="radio"] + label {
    padding: 2em;
    color: #222;
    background: #fff;
}

.plan-types  .plan-types [type="radio"]:checked + label:before,
.plan-types [type="radio"]:not(:checked) + label:before {
    content: "";
    color: #b1b1b1;
    line-height: 32px;
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
    top: 33%;
}

.plan-types [type="radio"]:checked + label:after,
.plan-types [type="radio"]:not(:checked) + label:after {
    content: "\2713 ";
    font-size: 16px;
    padding-left: .4em;
    color: #fff;
    line-height: 24px;
    width: 24px;
    height: 24px;
    background: #4a7c10;
    left: 15px;
    position: absolute;
    /* text-align: center; */
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    top: 33%;
    text-align: center;
}

.plan-types [type="radio"]:not(:checked) + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.plan-types [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation: check-bounce .3s;
    animation: check-bounce .3s;
}

span.score-num {
    position: absolute;
    top: 26px;
    left: 48%;
    z-index: 2000;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}

.plan-types [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label {
    background: #b5b5b512;
}

[type="checkbox"] + label {
    padding: 1em 3em;
    border: 1px solid #e4e4e4;
    border-radius: 0.25em;
}

/*-----------------------
Radio button animation
------------------------*/
@-webkit-keyframes check-bounce {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    60% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes check-bounce {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    60% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

.annotate {
    font-style: italic;
    color: #366ED4;
}

[role="table"] .row {
    margin-right: 0 !important;
    margin-left: 0 !important;;
}

/*[role="table"] > div[id] {*/
/*display: table-caption;*/
/*}*/

/*[role="table"] [role="row"] {*/
/*display: table-row;*/
/*}*/

/*[role="table"] [role="cell"],*/
/*[role="table"] [role="columnheader"] {*/
/*display: table-cell;*/
/*}*/
[role="table"] [role="cell"] {
    padding: 1em;
}

[role="table"] span.badge.badge-default {
    text-align: left;
    display: block;
    margin: .5em 0;
    font-size: 100%;
    padding: 0;
}

.d-flex.flex-row._2translate {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.h1, h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.section-title {
    width: 100%;
    background: #e4e4e4;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
}

.critea-filter-options-details {
    border-top: 1px solid #e6e6e6;
    padding: 1em 0;
    background: white;
}

.plan-name {
    font-weight: bold;
    padding: 1.5em 0 1.25em 0;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
}

.plan-name .h4,.plan-name h4  {
    color: #335e88;
    font-size: 1em;
    font-weight: bold;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
}

.section-title {
    width: 100%;
    background: #ffffff;
    font-size: 1.2em;
    z-index: 2;
    color: #335c86;
    font-weight: bold;
    padding: 1em 1em;
}

.col-2.single-row-label {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    padding: 1em;
    background: #ececec;
    font-weight: bold;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

span.section .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .5em 1em;
    z-index: 0;
    border: 1px solid #cecece;
    border-right: 0;
}

.plan-col:nth-child(even) {
    background: #f9f9f9;
}

.row.compare-container.table-header .plan-name:nth-child(odd) {
    background: #f9f9f9;
}

.table-header {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 23;
}

.critea-filter-options-details .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-link {
    color: #333;
}

.btn-link:hover {
    color: #000;
}

.back-save-compare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.back-save-compare span {
    margin: 0 auto;
}

span.monthly-desc {
    font-weight: 400;
    font-size: .75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -.15em;
}

.current {
    display: block !important;
}

.hidden {
    display: none !important;
}

.row.compare-container.table-header {
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
}

.row.compare-container.table-header.fixed {
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}

.row.compare-container.table-header.fixed .plan-name {
    padding: 0.75em 0 0.25em 0;
}

.row.compare-container.table-header.fixed .plan-name h4 {
    margin-bottom: 0;
}

/*.col.plan-name:hover {*/
/*background: #ffffff!important;*/
/*box-shadow: 1px 1px 17px 7px #5656560d;*/
/*z-index: 900000;*/
/*cursor: pointer;*/
/*}*/
a.paginate-plans {
    z-index: 1;
    position: relative;
    background-color: #3c6894;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
}

a.paginate-plans:hover {
    background: #234261;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}

a.paginate-plans span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f9f9f9;
}

a.paginate-plans span svg {
    stroke-width: 4px;
    width: 22px;
    height: 22px;
}

.plans-navigation.col-12 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #335d87;
    color: #fff;
    padding: .5em;
}

span.visiblePlansCount {
    width: 420px;
    text-align: center;
}

.col.plan-col ul {
    text-align: left;
}

/*a.paginate-plans {*/
/*position: absolute;*/
/*z-index: 2;*/
/*top: 0;*/
/*right: 15px;*/
/*-webkit-transform: translateY(55px);*/
/*-moz-transform: translateY(55px);*/
/*-ms-transform: translateY(55px);*/
/*-o-transform: translateY(55px);*/
/*transform: translateY(55px);*/
/*overflow: hidden;*/
/*text-indent: 100%;*/
/*white-space: nowrap;*/
/*color: transparent;*/
/*height: 60px;*/
/*width: 40px;*/
/*background: rgba(64, 64, 66, 0.8) url(https://codyhouse.co/demo/products-comparison-table/img/cd-arrow.svg) no-repeat center center;*/
/*border-radius: 3px;*/
/*-webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;*/
/*-moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;*/
/*transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;*/
/*}*/
/*a#previous {*/
/*left: 120px;*/
/*right: auto;*/
/*-webkit-transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*-moz-transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*-ms-transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*-o-transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*transform: translateY(55px) translateX(15px) rotate(180deg);*/
/*}*/

/* --------------------------------
Login Page
-------------------------------- */

.login .top-area {
    background: #fff;
    padding: 1.5em 0em 3em 0em;

}

.login .top-area .container {
    text-align: center;

}

.login .login-title {
    font-weight: 600;
    margin-bottom: 0;
}

.login .myCalPERS-logo {
    font-size: 1.5em;
}

.login .card {
    margin-top: 3em;
}

.dashboard .card {
    margin-top: 2em;
}

.C_M1Sdh98.health-summary h3 {
    margin-bottom: .5em;
}

.card {
    border: 0;
    background: transparent;

}


.card-body {
    padding: 2rem 1.25em;
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 8px 20px 3px rgba(125, 125, 125, 0.05), 0 5px 9px 0px rgba(197, 197, 197, 0.08);
    border-radius: 0.5em;
    background: white;
}

.login-area .card-body {
    padding: 1.5em 2em;
}

.form-container .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-area .card .form-control {
    background-color: #f9f9f9;
    border: 1px solid #e6e5e5;
}

.btn-primary {
    color: #fff;
    background-color: #335e88;
    border-color: #335e88;
}

.btn-primary:hover {
    color: #fff;
    background-color: #284c6f;
    border-color: #284c6f;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #284c6f;
    border-color: #284c6f;
}

.float-labels .form-control {
    border-width: 1px;
    height: 3.25rem;
    margin-bottom: 1em;
}

label.float-label {
    height: 3.25em;
    left: 44px;
    line-height: 3.25em;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform ease-out .1s;
    transition: -webkit-transform ease-out .1s;
    transition: transform ease-out .1s;
    transition: transform ease-out .1s, -webkit-transform ease-out .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #595959;
    font-weight: 400;
    font-size: 1em;
}

label.float-label.float-true {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    font-size: .815em;
    color: #737373;
}

.float-labels .form-control {
    height: 3.25em;
}

input.form-control.float-true {
    padding-top: 1.5rem;
}

.login-area .card-more-info {
    padding: 2em;
    background: #f9f9f9;
    border-radius: 0 0 .25em .25em;
    border-top: 1px solid #efefef;
}

.security-check {
    padding: 1em 2em;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

img {
    width: 100%;
}

.secure-your-account-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .25em;
    border: 2px solid #007f00;
    border-radius: 50%;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.secure-your-account-icon svg {
    stroke: #4c7e11;
    stroke-width: 3px;
}

.security-check .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.25em;
}

.security-check .heading h2 {
    font-size: 1.25em;
    margin-bottom: 0;
    font-weight: 500;
    color: #4c7e11;
    padding-top: 0.25em;
}

.security-check h3 {
    font-size: 1em;

}

.security-message {
    font-size: 1.35em;
    font-weight: bold;
    color: #3a3a3a;
}

.row.security-img-message a {
    font-size: .8em;
    display: block;
}

.security-img-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .container.form-container .login-area {
        padding: 0;
    }

    .login-area .card {
        margin-top: 0;
    }

    body {
        font-size: .9em;
    }

    label.float-label {
        line-height: 3.76em;
    }
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ffffff !important;
}

.facebook-spnner {
    background-image: url(/rsrc.php/v3/y6/r/ggvOO_y9azD.png);
    background-repeat: no-repeat;
    background-size: 500px 235px;
    background-position: -171px -221px;
    -webkit-animation: rotateSpinner 1.2s linear infinite;
    animation: rotateSpinner 1.2s linear infinite;
    display: inline-block;
    height: 12px;
    margin: 2px 12px 0;
    width: 12px;
}


.dash-compare-plans-svg {
    width: 300px;
    padding: 1em;
}


.confirm-your-info .h3, .confirm-your-info  h3 {
    font-size: 1em;
    font-weight:400;
}

.confirm-your-info  .row .col-12 {
    padding-bottom: .5em;
    border-bottom: 1px solid #ececec;
    padding-top: .5em;
}

.confirm-your-info  .user {
    width: 120px;
    float: right;
    display: none !important;
}

.C_M1Sdh98 .form-check {
    padding-left: 0;
}

.C_M1Sdh98 h2 {
    color: #335f89;
    font-weight: bold;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}

thead tr {
    background: #f9f9f9;
}

.C_M1Sdh98 {
    padding: 1.5em;
}

.health-summary > .row {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.health-summary .row:first-child {
    margin-top: 0;
}

.health-summary .col-12.plan-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.health-summary .plan {
    padding: 1em;
    border-radius: .35em;
    text-align: center;
    margin: 0 -15px;
    box-shadow: 0 8px 20px 3px rgba(125, 125, 125, 0.05), 0 5px 9px 0px rgba(197, 197, 197, 0.08);
}

.health-summary .plan .plan-details {
    color: #fff;
    text-align: center;
}
.health-summary .plan .col-12 {
    padding: 0;
}
.health-summary .plan a.btn {
    background: #ffffff1a;
    border: none;
    margin-bottom: -1.1em;
    padding: .75em;
    font-size: .9em;
}


.health-summary ul.plan-details {
    padding: 0;
    list-style-type: none;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
}
ul.plan-details .label {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: lighter;
    display: block;
}

.health-summary .plan .plan-name {
    font-weight: bold;
    padding: .75em 0 .25em 0;
    font-size: 1.25em;
}

.secondary-nav {
    background: white;
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    border-top: 1px solid #e2e2e2;
    position: relative;
    z-index: 1;
}

.secondary-nav a.nav-link {
    color: #777;
}

.secondary-nav a.nav-link.active span.tab-item {
    border-bottom: .2em solid #335f89;
    padding: 0.59em 0;
    color: #333;
}

.secondary-nav a.nav-link:first-child {
    padding-left: 0;
}

.text-align-left {
    text-align: left;
}

.header-p-padding {
    padding: .25em 0 .35em 0;
}

.circle-step {
    position: relative;
    height: 13px;
}

.step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 16px;
}

.step-title {
    padding-left: .75em;
    color: #737373;
    padding-top: .1em;
}

.step:last-child .line {
    display: none;
}

.line {
    height: 26px;
    left: 50%;
    top: 16px;
    position: absolute;
    z-index: -1;
    width: 1px;
    background-color: #C6C6C6;
}

.step.completed .circle {
    border: 1px solid #335f89;
    background: #335f89;
}

.step.completed .step-title {
    color: #335f89;
}

.step.active .circle {
    border: 1px solid #335f89;
    background: #fff;
}

.step.active .step-title {
    color: #335f89;
    font-weight: 600;
}

.circle {
    height: 16px;
    width: 16px;
    border: 1px solid #737373;
    border-radius: 12px;
}

.process-steps {
    margin-top: 2em;
}

.card-action {
    border-radius: 0 0 .25em .25em;
    padding: 1em 2em;
    padding-top: 0;
}



.card-action {
    border-radius: 0 0 .25em .25em;
    padding: 15px 15px 75px 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #ffffff;
    width: 100%;
}




.card-action .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.compare-proccess .card-header {
    background: white;
}

.confirm-your-info  label {
    font-size: 1em;
}

select#coverageType {
    height: 37px;
    width: 100%;
    background: white;
    border: 1px solid #ced4da;
}

.search-criteria {
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #e6e6e6;
}

/* --------------------------------
Search Results Page
-------------------------------- */
ul.plans-list {
    padding: 0;
    list-style-type: none;
}

label.plan-label {
    width: 100%;
}

.plan-types [type="radio"]:checked + label.plan-label,
.plan-types [type="radio"]:not(:checked) + label.plan-label {
    padding-left: 15px;

}

.plan-types [type="radio"] + label.plan-label {
    padding: 1em;
}

.search-results {
    padding-top: 1em;
}
.search-results .plan-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
}

.search-results .plan-details .plan-name {
    font-weight: bold;
    padding: 0.5em 0 0.25em 0;
    font-size: 1.05em;
    margin-bottom: 0;
}

.search-results ul.plan-details {
    padding: 0;
    list-style-type: none;
    font-size: .85em;
}
.search-results .form-check {
    padding-left: 0;
}
.search-results [type="checkbox"] + label {
    padding:1em 2em;
    margin-bottom: 1em;
    color: #222;
    background: #fff;
    border:none;
    border-radius: .5em;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

hr {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

@media (max-width: 767px) {
    [role="rowheader"], .col-2.single-row-label {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    [type="checkbox"] + label {
        padding: 1em 1em;
    }

    .search-results .plan-details {
        font-size: .85em;
    }

    .search-results .plan-details [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 15px;
    }

    .dashboard .card {
        margin-top: 0 !important;
    }

    .D_9ISds_xa .card {
        margin-bottom: 1em !important;
    }

    .search-results .plan-details [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {

        right: 30px;
        width: 18px;
        height: 18px;
        top: 45%;
    }

    .search-results .plan-details [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
        font-size: 14px;
        width: 18px;
        height: 18px;
        right: 30px;
        top: 45%;
    }

    .search-results .plan-logo {
        width: 50px;
    }



    .h1, h1 {
        font-size: 1.5rem;
    }

    .D_9ISds_xa .card-body h2 {
        font-size: 1.25em;
    }

    .dash-compare-plans-svg {
        width: 210px;
        padding: 1em;
        margin: 0 auto;
    }

    .card.OPEN-ENROLL-cta {
        text-align: center;
    }

    .card.OPEN-ENROLL-cta h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #335e88;
    }
}

a.btn.btn-primary.btn-lg.btn-block.compare-button.disabled {
    background: #eaeaea;
    color: black;
    border: 1px solid gainsboro;
}

a.btn.btn-primary.btn-block.btn-lg.compare-button svg {
    width: 19px;
    height: 19px;
    margin-right: 0.25em;
}

a.btn.btn-primary.btn-lg.btn-block.compare-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.comp_9J20dm {
    background: #f9f9f9;
    padding: 1em 2em;
}

.plan-types [type="radio"] + label {
    padding: 1.5em;
    color: #222;
    background: #fff;
}

.plan-types [type="radio"]:checked + label:after, .plan-types [type="radio"]:not(:checked) + label:after {

    padding-left: 0;
    padding-top: .04em;
}

.col-12.simple-radios .row {
    padding-top: 2em;
    padding-bottom: 1em;
}

.slidein-notify {
    position: absolute;
    left: 50%;

}

.slidein-notify .quick-notify-alert {
    margin: 0;
    position: relative;
    left: -50%;
    background: #4CAF50;
    z-index: 1;
    border: 2px solid #4CAF50;
    color: #ffffff;
    padding: .15em .75em;
    text-align: center;
    display: inline-block;
    -webkit-animation: slideInNotify 2s ease-in-out 0s 1;
    animation: slideInNotify 2s ease-in-out 0s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}

.contact-us-section {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #fbfbfb;
    height: 100%;
    width: 100%;
    display: none;
    -webkit-animation: slideOverlayDown .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    animation: slideOverlayDown .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

.contact-us-section.open {
    display: block;
    -webkit-animation: slideOverlayUp .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    animation: slideOverlayUp .4s cubic-bezier(0.79, 0.01, 0.31, 0.99);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

.contact-us-section .header {
    background: #fff;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
    box-shadow: 0 5px 20px 2px rgba(125, 125, 125, 0.05), 0 3px 7px rgba(197, 197, 197, 0.08);
}

.contact-us-section .header .btn {
    position: absolute;
    right: 20px;
}

.contact-us-section .header .title {
    font-size: 1.35em;
    font-weight: 600;
    text-align: center;
}

p.privacy-acknowledgement {
    max-width: 100%;
    text-align: center;
    padding: 1em 2em;
    font-size: .8em;
    color: #585858;
}

@-webkit-keyframes slideOverlayUp {
    0% {
        -webkit-transform: translate(0, 100vh);
        transform: translate(0, 100vh);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes slideOverlayUp {
    0% {
        -webkit-transform: translate(0, 100vh);
        transform: translate(0, 100vh);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes slideOverlayDown {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0, 100vh);
        transform: translate(0, 100vh);

    }
}

@keyframes slideOverlayDown {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0, 100vh);
        transform: translate(0, 100vh);

    }
}

.bottom-nav {
    -webkit-transition: .5s cubic-bezier(0.8, 0.05, 0, 1) all;
    transition: .5s cubic-bezier(0.8, 0.05, 0, 1) all;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    background-color: #fff;
    border: 0;
    bottom: 0;
    height: 55px;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    -webkit-box-shadow: 0 -5px 20px 2px rgba(125, 125, 125, 0.03), 0 -3px 7px rgba(197, 197, 197, 0.05);
    box-shadow: 0 -5px 20px 2px rgba(125, 125, 125, 0.03), 0 -3px 7px rgba(197, 197, 197, 0.05);
}

.bottom-nav .nav-container {
    height: 100%;
}

.bottom-nav .nav-container .items-row {
    height: 100%;
    padding:0 1em;
}

.bottom-nav .col.nav-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav.bottom-nav .icon {
    font-size: 20px;
    text-align: center;
    height: 26px;
}

.bottom-nav a {
    text-align: center;
    color: #717171;
    font-size: 10px;
    text-decoration: none;

}
.animation-enabled .bottom-nav a {
    -webkit-animation: bottomNavItemSlideIn .3s cubic-bezier(0.52, 0.08, 0.04, 0.96);
    animation: bottomNavItemSlideIn .3s cubic-bezier(0.52, 0.08, 0.04, 0.96);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.col.nav-item:nth-child(2) a {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.col.nav-item:nth-child(3) a {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.col.nav-item:nth-child(4) a {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.col.nav-item:nth-child(5) a {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.bottom-nav .nav-item.active a {
    color: #000;
    font-weight: 600;
}

@-webkit-keyframes bottomNavItemSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(35px);
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bottomNavItemSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(35px);
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bottom-nav .nav-item {
    border-bottom: 2px solid transparent;
}

.bottom-nav .nav-item.active {
    background: #fff;
}
.scrolling-plans {
    overflow: hidden;
    margin: 2em 0;
}
.scroll-this {
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-name: topRowPlans;
    -moz-animation-name: topRowPlans;
    -o-animation-name: topRowPlans;
    animation-name: topRowPlans;

}
.scroll-this:nth-child(1) {
    animation-duration: 80s;
}
.scroll-this:nth-child(2) {
    animation-duration: 190s;
}

@keyframes topRowPlans {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    50.001% {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0) 0)
    }
}
}
h1.page-header .welcome {
    font-weight: 800;
    font-size: 1.75rem;
}

h1.page-header {
    font-weight: 700;
    padding: 1em 0 .5em 0;
    font-size: 1.25rem;
}




.animation-enabled h1.page-header {
    -webkit-animation: slideUp .5s ease;
    animation: slideUp .5s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
body.dashboard.D_9ISds_xa .main-page-container .row .col-12 .card:nth-child(1) {
    -webkit-animation: slideUp .5s ease;
    animation: slideUp .5s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .4s;
}
body.dashboard.D_9ISds_xa .main-page-container .row .col-12 .card:nth-child(2) {
    -webkit-animation: slideUp .6s ease;
    animation: slideUp .6s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .85s;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        padding: .25em .75em;
        display: block;
        border: 1px solid #d8d8d8;
        border-radius: .35em;
        margin-bottom: .5em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        font-size: .95em;
        padding-right: .5em!important;
    }

    /*table td::before {*/
        /*content: attr(data-label);*/
        /*float: left;*/
    /*}*/

    table td:last-child {
        border-bottom: 0;
    }
    .table-bordered {
        border: none;
    }

    .table-bordered td, .table-bordered th {
        border: none;
    }

    .table td, .table th {
        border: none;
    }

    .table td, .table th {
        padding: .25em 0rem;
    }
    th {
        display: block;
        padding-bottom: 0!important;
    }
}

.D_9ISds_xa .card-header {
    font-weight: bold;
}

.dashboard .card-header {
    padding: 1em 0;
    border-bottom: 0;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
    color: grey;
    font-weight: 500;
    letter-spacing: .25px;
    font-size: .8em;
}

.save-compare {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #333;
    z-index: 1000;
    padding: 1em;
}

.save-compare .btn.btn-dark {
    background: transparent;
    border: none;
}

span.section-desc {
    display: block;
    font-size: .75em;
}

span.search-label {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .75em;
}

.critea-filter-options-details p {
    font-weight: bold;
    margin-bottom: .5em;
}

.options.col-12 {
    border-top: 1px solid #e2e2e2;
    padding-top: .25em;
    margin-top: .25em;
    color: #616161;
    display: none;
}


.gUD9C0--Jf {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: -9px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: all;
    background: 0 0;
    outline: none;
}

.gUD9C0--Jf:after, .gUD9C0--Jf:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #000;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.gUD9C0--Jf:after {
    top: auto;
    bottom: 16px;
}

._1wvd45e0_t {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.scroll-this .col-3 {
    background: #ffffff;
    margin: .5em;
    border-radius: .5em;
    padding: 1em;
    border: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title-area {
    background: #ffffff;
    padding: 1em;
    position: relative;
    z-index: 2;
    border-top: 1px solid #ececec;
    box-shadow: 0 8px 20px 3px rgba(125, 125, 125, 0.05), 0 5px 9px 0px rgba(197, 197, 197, 0.08);
}
.page-title-area h1 {
    color: #333;
    font-size: 15px;
    text-align: center;
}
.page-title-area p {
    text-align: center;
    font-size: 12px;
    color: #555;
}

.plan-types .form-check {
    margin-bottom:1em;
    padding-left:0;
}

h3.title {
    font-weight: bold;
    font-size: 1em;
}


.compare-ready-button {
    position: fixed;
    bottom: 65px;
    background: #335d87;
    border-radius: .5em;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    padding: 1em;
    color: white;
    left: 15px;
    right: 15px;
    display: none;
}
.compare-ready-button .btn{
    justify-content: flex-end;
}
.compare-ready-button.visible {
    display: flex;
    align-items: center;
    -webkit-animation: slideUp .25s ease;
    animation: slideUp .25s ease;
}

@-webkit-keyframes slideUp {
    0% {
        opacity:0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity:1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        opacity:0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity:1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.modalCompareTips .modal-content {
    background: #2b2b2b;
    min-height: 200px;
}
.modalCompareTips .close {
    color: #fff;
    text-shadow: none;
    opacity: .5;
    position: absolute;
    right: 15px;
    top: 5px;

}

